// ==========================================================================
// Settings / Config / Form variables
// ==========================================================================

:root {
  --button-font-size: var(--font-size-body-regular);
  --button-padding: #{rem(16px)} #{rem(24px)};
  --button-min-width: #{rem(100px)};
  --button-font-weight: #{$font-weight-bold};
  --button-color-hover: #fff;
  --button-border-radius: 4rem;

  --button-height: #{rem(60px)};
  --button-width: auto;

  --button-color: colorCode(lightest);
}

:root {
  --input-padding: #{rem(16px)} #{rem(24px)};
  --input-border-radius: 4rem;
  --input-height: #{rem(60px)};
}