// ==========================================================================
// Components / Contact
// ==========================================================================

.c-contact {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: z(contact);
  background: colorCode(darkest);
  right: 0;
  overflow: hidden;
  color: colorCode(lightest);
  transform: translate3d(0,-100%,0);
  backface-visibility: hidden;

  &_inner {
    overflow: auto;
    height: 100%;
    padding: var(--grid-margin);
  }

  &_content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  &_background {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
    mix-blend-mode: luminosity;
    opacity: 0.2;
  }

  &_header {
    //padding-bottom: spacing('lg');
    display: grid;
    //grid-template-columns: var(--icon-width-logo-contact) auto auto;
    grid-template-columns: 1fr auto;
    align-items: center;
    gap: var(--grid-gutter);
  }
}

html.has-contact-door {
  overflow: hidden;

  body {
    &:before {
      opacity: .8;
      visibility: visible;
    }
  }

  .c-contact {
    //visibility: visible;
    transform: translateZ(0);
  }
}

html.is-first-loaded .c-contact {
  transition: transform speed('slow') ease('power4.inOut');
}